

header {
    display: flex;
    background-color:blanchedalmond;    
}

header li, header a {
    font-size: 25px;
    color: magenta;
    text-decoration: none;
    display:inline;
}

header div {
    display: inline;
    text-align: right;
}

header p {
    justify-content: right;
}

.quizBox {
    display: flex;
    background-color: blue;
    
    
}

.questionBox {
    text-align: center;
    background-color: green;
    color: pink
}
.answerBox {
    color: pink;
    justify-content: center;
    text-align: center;
}