/* set primary colours for the site */

:root {
  --primarycolor: navy;
  --secondarycolor: blue;
  --tertiarycolor: green;
  --backprimarycolor: darkcyan;
  --backsecondarycolor: lightblue;
  --backtertiarycolor: lightgreen;
  --backquadcolor: #f37c7c;
}

/* create box for questions to appear */
body {
  background: var(--backprimarycolor);
  display: flex;
  justify-content: center;
  height: auto;
  padding: 40px;
  margin: 50px;
}

/* Bolds the Hello message */
section h2 {
  color: var(--secondarycolor);
  font-size: 40px;
}

body p {
  color: var(--primarycolor);
  font-size: 24px;
}

/* question section box */
section {
  padding: 10px;
  background: var(--backsecondarycolor);
  text-align: center;
  /*color: var(--secondarycolor);*/
 }

 /* high score button */
.submit-button {
  border-radius: 55px;  
  border-color: var(--backprimarycolor);
  color: var(--backprimarycolor);
  /* Hides submit button on the screen */
  display: none;    
}

/* start the game button */
.startbtn {
  border-radius: 55px;
  border: 2px solid;
  border-color: var(--backprimarycolor);
  font-size: 18px;
  color: var(--backprimarycolor);
}

/* high score name input */
.text-input {
  text-align: center;
  font-size: 14px;
  padding: 2px;
  width: 120px;
/* hides from view*/
  display: none;
}